[submodule "submodules/MCAL/Mcu"]
	path = submodules/MCAL/Mcu
	url = git@github.com:aananthcn/NammaMcu.git
	branch = main
[submodule "submodules/SL/Os"]
	path = submodules/SL/Os
	url = git@github.com:aananthcn/NammaOSEK.git
	branch = main
[submodule "submodules/SL/EcuM"]
	path = submodules/SL/EcuM
	url = git@github.com:aananthcn/NammaEcuM.git
	branch = main
[submodule "submodules/MCAL/Port"]
	path = submodules/MCAL/Port
	url = git@github.com:aananthcn/NammaPort.git
